@import './base.css';

/** General **/
a {
  cursor: pointer;
}

div:not(.navbar) > .container {
  padding-bottom: 50px;
}

@media all and (max-width: 1919px) {
  #app > .container {
      margin: 0px 20px;
  }
}

/** Calendar */
.calendar-wrapper {
  position: relative;
}

.calendar {
  position: absolute;
  top: calc(100% + 10px);
  left: 50%;
  transform: translatex(-50%);
  z-index: 100;
  background-color: white;
  border: 2px solid lightgray;
}

.calendar::before {
  content: "";
  border-bottom: 20px solid lightgray;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  position: absolute;
  left: 50%;
  top: -20px;
  transform: translatex(-50%);
}

.calendar-navigation {
  border-bottom: 2px solid lightgray;
  padding: 4px;
}

.calendar-navigation > * {
  display: inline-block;
  width: 20%;
  margin: 0;
  text-align: center;
  font-size: 20px;
  padding: 3px 0;
  border-radius: 5px;
  color: #9d9d9d;
}

.calendar-navigation .today > svg {
  overflow: visible;
}

.calendar-navigation .today > .hover-show {
  display: none;   
}

.calendar-navigation .today:focus > .hover-hide, .calendar-navigation .today:hover > .hover-hide, .calendar-navigation .today:active > .hover-hide {
  display: none;
}

.calendar-navigation .today:focus > .hover-show, .calendar-navigation .today:hover > .hover-show, .calendar-navigation .today:active > .hover-show {
  display: initial;
}

.calendar-navigation .today > span {
  background-color: black;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translatex(-50%);
}

.calendar-navigation > *:focus, .calendar-navigation > *:hover, .calendar-navigation > *:active {
  background-color: darkgray;
  color: white;
}

.month-header {
  text-align: center;
  font-weight: bold;
  font-size: 22px;
}

.month-body thead {
  border-bottom: 1px solid;
}

.month-body thead th {
  padding: 0px 5px;
  font-weight: normal;
}

.month-body tbody {
  cursor: pointer;
}

.month-body tbody td {
  text-align: center;
  width: 40px;
  height: 40px;
  font-weight: bold;
  padding: 0;
}

.month-body tbody .day {
  width: 36px;
  height: 36px;
  display: block;
  line-height: 32px;
  padding: 2px;
}

.month-body tbody td .day:focus, .month-body tbody td .day:hover, .month-body tbody td .day:active {
  background-color: lightgray;
  border-radius: 50%;
}

.month-body tbody .day.previous-month, .month-body tbody .day.next-month {
  font-weight: normal;
}

.month-body tbody tr.selected .day {
  color: blue;
}

/** Notifications **/
.notification-wrapper {
  padding: 10px 20px;
  min-height: 96px;
}

.notification-wrapper .alert {
  margin-right: 20px;
  white-space: pre;
}

.notification-wrapper .text {
  vertical-align: middle;
}

.notification-wrapper .text + button {
  vertical-align: middle;
  margin-left: 15px;
}

/** Session overview **/
.session-overview {
  border-collapse: separate;
  table-layout: fixed;
}
.session-overview th, .session-overview td, .session-overview-mobile .heading > .booking, .session-overview-mobile .row > * {
  border-width: 2px;
}

.session-overview thead td {
  border-width: 0 2px 2px 0;
  background-color: transparent;
  width: 80px;
}

.session-overview th.highlight {
  background-color: var(--bs-table-hover-bg);
}

.session-overview tbody th, .session-overview tbody td, .session-overview-mobile .heading > * {
  text-align: center;
  vertical-align: middle;
}

.session-overview td, .session-overview .row > * {
  padding: 0;
}

.session-overview th {
  background-color: transparent;
}

.session-overview thead th {
  width: 175px;
}

.session-overview button, .session-overview span, .session-overview-mobile button, .session-overview-mobile span {
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center;
  border: none;
  padding: 0;
  margin: 0;
  min-width: 100%;
  min-height: 100%;
  height: 50px;
  display: block;
}

.session-overview button.own.no_background_image,
.session-overview-mobile button.own.no_background_image,
.session-overview span.booked.no_background_image,
.session-overview-mobile span.booked.no_background_image {
  background-image: none;
}

.session-overview-mobile button {
  line-height: initial;
}

.session-overview button.own, .session-overview-mobile button.own {
  background-color: #d1e7dd;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="%23198754" class="bi bi-check-lg" viewBox="0 0 16 16"><path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425z"/></svg>');
}

.session-overview button.own:focus, .session-overview button.own:hover, .session-overview button.own:active,
.session-overview-mobile button.own:focus, .session-overview-mobile button.own:hover, .session-overview-mobile button.own:active {
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="%23dc3545" class="bi bi-calendar-x-fill" viewBox="0 0 16 16"><path d="M4 .5a.5.5 0 0 0-1 0V1H2a2 2 0 0 0-2 2v1h16V3a2 2 0 0 0-2-2h-1V.5a.5.5 0 0 0-1 0V1H4zM16 14V5H0v9a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2M6.854 8.146 8 9.293l1.146-1.147a.5.5 0 1 1 .708.708L8.707 10l1.147 1.146a.5.5 0 0 1-.708.708L8 10.707l-1.146 1.147a.5.5 0 0 1-.708-.708L7.293 10 6.146 8.854a.5.5 0 1 1 .708-.708"/></svg>');
  background-size: auto 70%;
}

.session-overview button.free:focus, .session-overview button.free:active, .session-overview button.free:hover,
.session-overview-mobile button.free:focus, .session-overview-mobile button.free:active, .session-overview-mobile button.free:hover {
  background-color: #d1e7dd;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="%23198754" class="bi bi-calendar-check" viewBox="0 0 16 16"><path d="M10.854 7.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 9.793l2.646-2.647a.5.5 0 0 1 .708 0"/><path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5M1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4z"/></svg>');
  background-size: auto 70%;
}

.session-overview span.booked, .session-overview-mobile span.booked {
  background-color: #fff3cd;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="%23ffc107" class="bi bi-x" viewBox="0 0 16 16"><path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/></svg>');
  background-size: auto 140%;
}

.session-overview-mobile {
  display: none;
  position: relative;
  width: calc(100% - 20px);
  margin: auto;
}

.session-overview-mobile .day {
  display: none;
}

.session-overview-mobile .time, .session-overview-mobile .booking {
  border-color: lightgray;
  border-style: solid;
  display: inline-block;
}

.session-overview-mobile .time {
  width: 30%;
}

.session-overview-mobile .row.heading {
  background-color: white;
  font-weight: bold;
  position: sticky;
  top: 0;
  z-index: 1;
}

.session-overview-mobile .row.heading .time {
  border-width: 0 2px 2px 0;
}

.session-overview-mobile .booking {
  width: 70%;
  position: relative;
}

.session-overview-mobile .day.active {
  display: block;
}

.session-overview-mobile .row > * {
  padding: 0;
  text-align: center;
}

.session-overview-mobile .row.heading > .booking > * {
  display: inline-block;
  min-width: 0;
}

.session-overview-mobile .row.heading > .booking > button {
  width: 30px;
  height: 30px;
  min-height: 0;
  line-height: 26px;
  color: rgb(13, 110, 253);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: white;
}

.session-overview-mobile .row.heading > .booking > button:first-child {
  left: 20px;
}

.session-overview-mobile .row.heading > .booking > button:last-child {
  right: 20px;
}

.session-overview-mobile .row.heading > .booking > button:focus, .session-overview-mobile .row.heading > .booking > button:hover, .session-overview-mobile .row.heading > .booking > button:active {
  border: 1px solid rgb(13, 110, 253);
  border-radius: 4px;
}

.session-overview-mobile .row > .time {
  font-weight: bold;
}

.session-overview-mobile .row.heading > .booking > span {
  padding: 0px 20px;
}

@media all and (max-width: 1550px) {
  .session-overview thead td, .session-overview thead th,
  .session-overview tbody td, .session-overview tbody th {
      width: 120px;
  }

  .session-overview tbody td, .session-overview tbody th {
      height: 100px;
  }
}

@media all and (max-width: 767px) {
  .session-overview {
      display: none;
  }

  .session-overview-mobile {
      display: block;
  }
}

/** Event markings */
.legend-item {
  display: inline-block;
  border: 4px solid;
  padding: 8px 16px;
}

.legend-description {
  display: block;
  font-size: 12px;
  white-space: pre-line;
}
